*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
} 

#front-wheel,#back-wheel{
    animation: wheel 1.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#man-bike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#cap{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;

}

@keyframes wheel {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes bike {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);

    }
}

@keyframes hat{
    from{
        transform:translateY(0%) rotateZ(0deg);
    }
    to{
        transform:translateY(40%) rotateZ(20deg);

    }
}